<div class="mensaje-container">
    <div class="contenido">
      <p>
        Con el corazón lleno de alegría y gratitud, quiero invitarte a celebrar
        junto a mí un día muy especial:
      </p>
      <p>
        mis quince años. Es el inicio de una nueva etapa, un momento en el que los
        sueños comienzan a volar más alto,
      </p>
      <p>
        las metas se hacen más grandes y cada paso se llena de ilusión y
        esperanza.
      </p>
      <p>
        Tu presencia será el mejor regalo, porque compartir esta fecha con las
        personas que más quiero
      </p>
      <p>
        hará que este día sea inolvidable. ¡Acompáñame a crear recuerdos hermosos
        que llevare siempre presente
      </p>
      <p>en esta nueva etapa de mi vida!</p>
    </div>
  </div>
  