<div class="mensaje-final">
    <div class="flores-container">
      <!-- Aquí se generarán las flores -->
      <span class="flor" style="left: 10%; animation-delay: 0s;"></span>
      <span class="flor" style="left: 30%; animation-delay: 2s;"></span>
      <span class="flor" style="left: 50%; animation-delay: 4s;"></span>
      <span class="flor" style="left: 70%; animation-delay: 1s;"></span>
      <span class="flor" style="left: 90%; animation-delay: 3s;"></span>
      <span class="flor" style="left: 20%; animation-delay: 1.5s;"></span>
      <span class="flor" style="left: 60%; animation-delay: 2.5s;"></span>
      <span class="flor" style="left: 80%; animation-delay: 0.5s;"></span>
    </div>
  
    <div class="mensaje-contenido">
      <p>Tu presencia hará que este sueño sea aún más mágico.</p>
  
    </div>
  </div>
  