<div class="reloj-container" [class.fixed]="isFixed">
    <div class="contador">
      <div class="tiempo">
        <span>{{ dias }}</span>
        <span>DÍAS</span>
      </div>
      <div class="tiempo">
        <span>{{ horas }}</span>
        <span>HORAS</span>
      </div>
      <div class="tiempo">
        <span>{{ minutos }}</span>
        <span>MINUTOS</span>
      </div>
      <div class="tiempo">
        <span>{{ segundos }}</span>
        <span>SEGUNDOS</span>
      </div>
    </div>
  </div>